
    
    

.tas{
    background-color: rgb(15, 14, 14);
    color: white;
    height: 300px;
    width: 250px;
    text-align: center;
    margin-left: 400px;
}
.tas1{
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
}